@model ECommerceSite.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}
<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var product in Model.CartProducts)
    {
        <tr id="row-@product.ProductId">
            <td>
                @Html.ActionLink(product.Product.Name,"Details", "Store", new { id = product.ProductId }, null)
            </td>
            <td>
                @product.Product.Price
            </td>
            <td id="product-count-@product.ProductId">
                @product.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@product.ProductId">
                    Remove from cart
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/App/RemoveProductFromCart.js");
}
